* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
    /* background-color: #000958; */
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.heading-2 {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19231; /* 119.231% */
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5b2e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    transition: 0.5s;
    /* box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42); */
}

.btn:hover {
    background-color: #ff5b2e;
    opacity: 1;
    color: #fff;
}

/* Header */
.header {
    padding: 26px 0;

    /* background-color: orange; */
}
/* -------------------------- Navigation -------------------------- */
.navigation-layout {
    display: flex;
    align-items: center;
}

.navigation__menu-list {
    margin-left: 211px;
    display: flex;
    align-items: center;
}

.navigation__menu-item {
    padding: 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: 0.6s;
}

.navigation__menu-item--active,
.navigation__menu-item:hover {
    color: #000958;
    text-shadow: 0.5px 0 0 #000958;
}

.navigation__action {
    margin-left: 211px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__action-btn {
    padding: 18px 31px;
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.5s;
}

.navigation__action-btn:hover {
    color: #fff;
    background-color: #000958;
}

/* -------------------------- Hero -------------------------- */
.hero {
    margin-top: 100px;
}

.hero-layout {
    display: flex;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    width: 47%;
    padding: 0 0 94px 0;
    flex-shrink: 0;
}

.hero__media-bg-big {
    position: relative;
    width: 70.42%;
    height: 488px;
    border-radius: 16px;
    border: 2px solid #fff;
    background: #fe997b;
}

.hero__media-bg-big::before {
    content: "";
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background: url(../img/hero-union-1.png) 0 0 no-repeat;
    color: #000958;
    transform: translateY(50%) translateX(-15%);
    z-index: -1;
}

.hero__media-bg-big::after {
    content: "";
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background: url(../img/hero-union-2.svg) 0 0 no-repeat;
    color: #000958;
    transform: translateX(-2%);
    z-index: -1;
}

.hero__media-img-big {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.hero__media-bg-small {
    position: absolute;
    width: 33.76%;
    height: 244px;
    right: 0;
    bottom: 36px;
    border-radius: 16px;
    border: 2px solid #fbe2e1;
    background: #faa7ad;
    overflow: hidden;
}

.hero__media-img-small {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.hero__media-info {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 46%;
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__media-item {
    display: flex;
    position: relative;
    column-gap: 10px;
}

.hero__media-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -20px;
    margin-top: 23px;
    background: #f2f2f2;
}

.hero__media-bg-img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.hero__media-item-img {
    width: 100%;
}

.hero__media-item:first-of-type .hero__media-bg-img {
    background: #fec23f;
}

.hero__media-item:last-of-type .hero__media-bg-img {
    background-color: #c6e2fa;
}

.hero__media-item-right {
    width: 100%;
}

.hero__media-item-service {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__media-item-line,
.hero__media-item-line::after {
    height: 4px;
    border-radius: 10px;
    background: #000958;
}

.hero__media-item-line {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    width: 67.5%;
    row-gap: 6px;
    opacity: 0.08;
}

.hero__media-item-line::after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: -10px;
    width: 33.9%;
}

.hero__content-heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15152; /* 115.152% */
}

.hero__content-desc {
    /* width: 78%; */
    width: 391px;
    margin-top: 24px;
}

.hero__content-action {
    margin-top: 38px;
}

.hero__content-action {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__content-action-btn {
    padding: 22px 30px;
    display: flex;
    column-gap: 10px;
}

.hero__content-action-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__content-action-btn:hover .hero__content-action-bg-icon {
    background-color: #fff;
}

.hero__content-action-bg-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000958; */
    color: #ff5b2e;
    transition: 0.5s;
}

.hero__content-action-schedule {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: 2s;
}

.hero__content-action-schedule:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* -------------------------- About -------------------------- */
.about {
    margin-top: 51px;
}

.about-layout {
    padding: 53px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 40.77%;
    flex-shrink: 0;
}

.about__content-intro {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__content-heading {
    margin-top: 15px;
}

.about__content-desc {
    margin-top: 24px;
}

.about__content-info {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 34px;
}

.about__content-info-item {
    display: inline-flex;
    position: relative;

    column-gap: 10px;
    align-items: center;
    color: #48496a;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__content-info-item::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.about__content-info-item::after {
    content: "";
    align-self: center;
    justify-self: center;
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 5px;
    width: 100%;
    height: 100%;
    background: url(../img/check-icon.svg) no-repeat;
}

.about__media {
    position: relative;
    width: 54.44%;
    height: 559px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.about__media-bg-img {
    position: relative;
    width: 77.55%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media-bg-img::after {
    /* display: contents; */
    content: "";
    position: absolute;
    width: 133.63px;
    height: 94.766px;
    color: #000958;
    background: url(../img/about-union-2.svg) no-repeat;
    right: -51px;
    top: -66px;
    z-index: -1;
}

.about__media-img {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* height: 100%; */
    object-fit: cover;
}

.about__media-intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    padding: 31px 26px;
    width: 136px;
    height: 156px;
    left: 44px;
    bottom: 240px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 2;
}

.about__media-intro-year {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__media-intro-desc {
    color: #c6f4f9;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857; /* 142.857% */
}

.about__media-intro::after {
    content: "";
    position: absolute;
    background: url(../img/about-union.svg) no-repeat;
    width: 100%;
    height: 100%;
    top: -40px;
    right: -84px;
}

/* -------------------------- Features -------------------------- */
.features {
    margin-top: 77px;
}

.features-layout {
    display: flex;
    /* align-items: flex-end; */
}

.features__media {
    position: relative;
    width: 42.74%;
    flex-shrink: 0;
}

.features__media-bg-img {
    display: block;
    width: 91.6%;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    overflow: hidden;
}

.features__media-img {
    width: 100%;
    height: 100%;
    transform: scale(1.55) translateY(3%) translateX(-11%);
    object-fit: contain;
}

.features__media-ripples {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 70px;
}

.features__media-ripple-1 {
    position: absolute;
    top: -3px;
    left: -20px;
}

.features__media-ripple-2 {
    position: absolute;
    top: -26px;
    left: 6px;
}

.features__media-ripple-3 {
    position: absolute;
    top: 15px;
    left: 5px;
}

.features__media-triangles {
    position: absolute;
    top: 318px;
    right: 38px;
}

.features__media-triangle-2 {
    transform: translateX(30px) translateY(-50px);
}

.features__media-circles {
    position: absolute;
    bottom: -55px;
    left: 377px;
}

.features__content {
    width: 49.4%;
    /* margin: 52px 85px 0 0; */
    margin: 36px 0 0 85px;
}

.features__content-desc {
    width: 88.4%;
    margin-top: 24px;
}

.features__content-menu {
    /* margin: 52px 0 0 -20px; */
    margin-top: 28px;
    display: flex;
    align-items: center;
    column-gap: 66px;
    position: relative;
}

.features__content-menu::after {
    content: "";
    position: absolute;
    width: 562px;
    height: 2px;
    left: 18px;
    bottom: 0;
    opacity: 0.07;
    background: #ff5b2e;
}

.features__content-item {
    padding-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.6s;
    cursor: pointer;
}

.features__content-item:hover,
.features__content-item.active {
    transform: translateY(-3px);
}

.features__content-item:hover::after,
.features__content-item.active::after {
    visibility: visible;
}

.features__content-item::after {
    content: "";
    position: absolute;
    width: 95px;
    height: 2px;
    bottom: 0;
    background: #ff5b2e;
    visibility: hidden;
    transform: translateY(3px);
}

.features__content-item:nth-of-type(1) .features__item-img {
    transform: translateY(1px);
    margin-left: -8px;
}

.features__content-item:nth-of-type(2) .features__item-img {
    transform: translateY(4px) translateX(-10px);
    margin-left: 4px;
}

.features__content-item:nth-of-type(2)::after {
    bottom: -3px;
}

.features__content-item:nth-of-type(3) .features__item-img {
    transform: translateY(-1px) translateX(-10px);
    margin-left: 8px;
}

.features__content-item:nth-of-type(3)::after {
    bottom: -8px;
}

.features__item-title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.features__content-menu-desc {
    margin-top: 36px;
    width: 67.65%;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429; /* 171.429% */
}

.features__content-more {
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.features__content-more::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.5px;
    background-color: #ff5d31;
}

/* -------------------------- Services -------------------------- */
.services {
    margin-top: 182px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.services-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__heading {
    margin-top: 15px;
}

.service__content {
    margin-top: 71px;
    display: grid;
    grid-template-columns: 1fr 38.21% 1fr;
    column-gap: 67px;
}

.service__content-column-left,
.service__content-column-right {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service__item {
    padding: 30px 22px 28px 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__item-heading {
    display: inline-flex;
    column-gap: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__item-heading::before {
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item-desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429; /* 171.429% */
}

.service__item-more {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service__content-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__media {
    margin-top: 280px;
}

.service__media-bg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__media-img {
    width: 110%;
}

.service__action {
    display: inline-block;
    margin-top: 45px;
    padding: 20px 40px;
}

/* -------------------------- Team -------------------------- */
.team {
    margin-top: 77px;
    padding: 53px 0;
    --team-color-1: #90ccff;
    --team-color-2: #ff997e;
    --team-color-3: #fabf3e;
    --team-color-4: #5bd6e2;
}

.team-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.team__heading {
    margin-top: 15px;
}

.team__list-staffs {
    margin-top: 59px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 37px;
}

.team__staff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__staff-media {
    position: relative;
}

.team__staff-img-rectangle {
    position: absolute;
    left: -18px;
    bottom: 0;
    color: var(--team-color);
}

.team__staff:nth-of-type(even) .team__staff-img-rectangle {
    transform: rotate(180deg);
    top: 33px;
    /* color: #000958; */
}

.team__staff-bg {
    position: relative;
    width: 234px;
    height: 299px;
    border-radius: 129.5px;
    overflow: hidden;
}

.team__staff-bg::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 266px;
    border-radius: 129.5px;
    z-index: -1;
}

.team__staff:nth-of-type(1) .team__staff-bg:after {
    background-color: var(--team-color-1);
}
.team__staff:nth-of-type(1) .team__staff-img-rectangle {
    color: var(--team-color-1);
}
.team__staff:nth-of-type(2) .team__staff-bg:after {
    background-color: var(--team-color-2);
}
.team__staff:nth-of-type(2) .team__staff-img-rectangle {
    color: var(--team-color-2);
}
.team__staff:nth-of-type(3) .team__staff-bg:after {
    background-color: var(--team-color-3);
}
.team__staff:nth-of-type(3) .team__staff-img-rectangle {
    color: var(--team-color-3);
}
.team__staff:nth-of-type(4) .team__staff-bg:after {
    background-color: var(--team-color-4);
}
.team__staff:nth-of-type(4) .team__staff-img-rectangle {
    color: var(--team-color-4);
}

.team__staff-img {
    /* margin-top: 14px; */
    width: 100%;
    height: 100%;
    transform: translateY(14px);

    /* object-fit: cover; */
}

.team__staff-position {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.team__staff-name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.team__action {
    margin-top: 48px;
    padding: 20px 40px;
}

/* -------------------------- Pricing -------------------------- */
.pricing {
    margin-top: 77px;
    padding: 86px 0;
    background-color: #fff6ed;
}

.pricing-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 994px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__desc {
    margin-top: 24px;
    width: 60.6%;
    text-align: center;
}

.pricing__action {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 38px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__action::after {
    content: "";
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -24px;

    transform: translateX(100%) translateY(-10px);
    background: url(../img/price-discount.svg) no-repeat;
}

.pricing__action input {
    display: none;
}

.pricing__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 31px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    filter: none;
    cursor: pointer;
}

.pricing__action input:checked + .pricing__action-btn {
    background: var(--primary-color);
    color: #fff;
}
.pricing__list-price {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing__item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px 43px;
}

.pricing__item-type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing__item-name {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing__item-price {
    display: inline-block;
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0303; /* 103.03% */
}

.pricing__item-action {
    margin-top: 22px;
    padding: 14px 65px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    white-space: nowrap;
}

.pricing__item-list-services {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.pricing__item-service {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing__item-service.not-include .pricing__item-icon{
    opacity: 0.4;
}
